@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Work+Sans:wght@100;300;400;500;700;800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.header-section {
    height: 100vh;
    width: 100%;
    background: #FCF3E5;
    padding-bottom: 180px;
}

.logo {
    margin-top: 25px;
    color: #010313;
    font-size: 30px;
}

.nav-section {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
}

.item {
    list-style: none;
    padding: 30px;
}

.item a {
    text-decoration: none;
    color: #010313;
}

.item a:hover {
    color: #FF900E;
}

.content-written {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #010313;
}

.content-head {
    font-size: 35px;
    margin-bottom: 15px;
}

.btn {
    width: 140px;
    margin-top: 25px;
    outline: none;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    background: #FF900E;
    color: #FFFFFF;
}

.header-image {
    max-width: 850px;
    height: 450px;
    margin: 40px auto;
}

.header-image img {
    width: 100%;
    height: 100%;
}


/* feature-section-start */

.feature-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    column-gap: 100px;
    padding: 50px 0px;
}

.feature-image {
    height: 180px;
    width: 180px;
}

.feature-image img {
    width: 100%;
    border-radius: 10px;
}

.featured-image {
    width: 30%;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-contain {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* service-section */

.service-container {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.service-head {
    margin-bottom: 20px;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.service-description {
    margin-bottom: 15px;
    font-size: 0.8rem;
    color: #727272;
    letter-spacing: 1.2px;
    padding-left: 10px;
}

.service-content-head {
    margin-bottom: 5px;
}

.service-content-description {
    font-size: 0.8rem;
    text-align: justify;
    color: #727272;
}

.service-image {
    height: 100vh;
    width: 100%;
}

.service-image img {
    height: 100%;
    width: 100%;
}

.service-content-box {
    width: 35%;
}

.service-content {
    border-radius: 8px;
    background: #FFF;
    margin-top: 20px;
    padding: 25px;
    box-shadow: 1.5px 2.5px 4px 2px rgba(0, 0, 0, 0.065);
}


/* facts-section-start */

.fact-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facts-container {
    max-width: 1000px;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 180px);
    grid-column-gap: 50px;
}

.fact-box {
    border: 1px solid #FF900E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
}


/* resonsiveness */

@media screen and (max-width:576px) {
    .nav-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content-written {
        width: 60%;
        margin: auto;
    }
    .header-image {
        max-width: 350px;
        max-height: 280px;
        border-radius: 15px;
    }
    .item a:hover {
        color: #FF900E;
    }
    .item {
        padding: 15px;
    }
    .btn:hover {
        color: #FF900E;
        background: #FFFFFF;
    }
    /* feature-section-responiveness-start */
    .feature-container {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .featured-image {
        grid-template-columns: repeat(1, 1fr);
    }
    .content-head {
        text-align: center;
    }
    .feature-contain {
        margin-top: 20px;
        width: 60%;
        text-align: justify;
    }
    .btn-f {
        width: 100px;
        font-size: 10px;
        margin: auto;
        margin-top: 32px;
    }
    .feature-image {
        height: 220px;
        width: 220px;
        border: 1px solid rgb(238, 234, 237);
        border-radius: 12px;
    }
    .service-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .service-image {
        height: 60vh;
        padding-top: 30px;
    }
    .service-content-box {
        width: 60%;
    }
    .service-image img {
        border-radius: 10px;
    }
    .service-content {
        width: 230px;
        margin-top: 25px;
    }
    .service-head,
    .service-description {
        text-align: center;
        width: 270px;
        margin-bottom: 40px;
    }
    .facts-container {
        margin-top: 20px;
        grid-template-columns: repeat(1, 200px);
        grid-template-rows: repeat(1, 150px);
        justify-content: center;
        height: 100vh;
        grid-row-gap: 20px;
    }
}